Read the three files into python as dataframes

In [473]:
import pandas as pd

file1 = pd.read_csv('csv_files/file1.csv')
file2 = pd.read_csv('csv_files/file2.csv')
file3 = pd.read_csv('csv_files/file3.csv')

Show the DataFrame's shape.

In [474]:
print(file1.shape)
print(file2.shape)
print(file3.shape)

(4008, 11)
(996, 11)
(7070, 11)

Standardize header names.

In [475]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [476]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [477]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [478]:
columns_definition = { 'ST':'State', 'GENDER':'Gender' }
file1 = file1.rename(columns = columns_definition)
file1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [479]:
file2 = file2.rename(columns = columns_definition)
file2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

Rearrange the columns in the dataframe as needed

In [480]:
print(file1.columns == file2.columns)
print(len(file1.columns) == len(file2.columns))

[ True  True  True  True  True  True  True  True False False False]
True

In [481]:
file1 = file1[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Total Claim Amount', 'Policy Type', 'Vehicle Class']]
file1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [482]:
print(file1.columns == file2.columns)

[ True  True  True  True  True  True  True  True  True  True  True]

In [483]:
print(file1.columns == file3.columns)
print(len(file1.columns) == len(file3.columns))

[ True  True False  True False  True  True  True False False  True]
True

In [484]:
file3 = file3[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Total Claim Amount', 'Policy Type', 'Vehicle Class']]
file3.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [485]:
print(file1.columns == file3.columns)
print(len(file1.columns) == len(file3.columns))

[ True  True  True  True  True  True  True  True  True  True  True]
True

Which columns are numerical?

In [486]:
file1.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Total Claim Amount           float64
Policy Type                   object
Vehicle Class                 object
dtype: object

In [487]:
import numpy as np

def get_numerical_columns_with_np(file):
    return list(file.select_dtypes(include=np.number).columns)
def get_numerical_columns_without_np(file):
    return list(file.select_dtypes(include='number').columns)
def get_numerical_columns_function(file):
    return list(file._get_numeric_data().columns)

print(get_numerical_columns_with_np(file1))
print(get_numerical_columns_without_np(file2))
print(get_numerical_columns_function(file3))

['Income', 'Monthly Premium Auto', 'Total Claim Amount']
['Income', 'Monthly Premium Auto', 'Total Claim Amount']
['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Total Claim Amount']

Which columns are categorical?

In [488]:
def get_categorical_columns_with_np(file):
    return list(file.select_dtypes(exclude=np.number).columns)
def get_categorical_columns_without_np(file):
    return list(file.select_dtypes(exclude='number').columns)
def get_categorical_columns_function(file):
    return list(set(file.columns) - set(file._get_numeric_data().columns))

print(get_categorical_columns_with_np(file1))
print(get_categorical_columns_without_np(file2))
print(get_categorical_columns_function(file3))

['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']
['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']
['State', 'Customer', 'Education', 'Policy Type', 'Vehicle Class', 'Gender']

Perform the data cleaning operations mentioned so far in class

Delete the column education and the number of open complaints from the dataframe.

In [489]:
def drop_columns(dataframe):
    print(len(dataframe.columns))
    dataframe = dataframe.drop(['Education','Number of Open Complaints'], axis=1)
    print(len(dataframe.columns))

drop_columns(file1)
drop_columns(file2)
drop_columns(file3)

11
9
11
9
11
9

Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [490]:
file1.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Total Claim Amount           float64
Policy Type                   object
Vehicle Class                 object
dtype: object

In [491]:
def correct_data(file):
    file['Customer Lifetime Value'] = file['Customer Lifetime Value'].str.rstrip("%").astype(float)/100
    file['Customer Lifetime Value'] =  pd.to_numeric(file['Customer Lifetime Value'], errors='coerce')
    return file
    
file1 = correct_data(file1)
file2 = correct_data(file2)

In [492]:
data = pd.concat([file1, file2, file3], axis = 0)
data

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,2.704934,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,1131.464935,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,566.472247,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,529.881344,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,17.269323,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.987980,71941.0,73.0,0,198.234764,Personal Auto,Four-Door Car
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,379.200000,Corporate Auto,Four-Door Car
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,790.784983,Corporate Auto,Four-Door Car
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,691.200000,Personal Auto,Four-Door Car
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,369.600000,Corporate Auto,Two-Door Car

Check for duplicate rows in the data and remove if any.

In [493]:
data = data.drop_duplicates()
data

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,2.704934,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,1131.464935,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,566.472247,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,529.881344,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,17.269323,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.987980,71941.0,73.0,0,198.234764,Personal Auto,Four-Door Car
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,379.200000,Corporate Auto,Four-Door Car
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,790.784983,Corporate Auto,Four-Door Car
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,691.200000,Personal Auto,Four-Door Car
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,369.600000,Corporate Auto,Two-Door Car

Filter out the data for customers who have an income of 0 or less.

In [494]:
data[data['Income'] <= 0]

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,2.704934,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,1131.464935,Personal Auto,Four-Door Car
3,WW63253,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,529.881344,Corporate Auto,SUV
7,CF85061,Arizona,M,Master,7216.100300,0.0,101.0,1/0/00,363.029680,Corporate Auto,Four-Door Car
10,SX51350,California,M,College,4738.992000,0.0,67.0,1/0/00,482.400000,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
7059,WZ45103,California,F,Bachelor,5678.050167,0.0,76.0,0,364.800000,Personal Auto,Four-Door Car
7061,RX91025,California,M,High School or Below,19872.262000,0.0,185.0,0,1950.725547,Personal Auto,SUV
7062,AC13887,California,M,Bachelor,4628.995325,0.0,67.0,0,482.400000,Corporate Auto,Two-Door Car
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,790.784983,Corporate Auto,Four-Door Car
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,369.600000,Corporate Auto,Two-Door Car